<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
     xmlns:context="http://www.springframework.org/schema/context"
     xmlns:mvc="http://www.springframework.org/schema/mvc"
     xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd">
     <!-- context:component-scan 扫描指定包下的注解，默认启动注解 -->
     <context:component-scan base-package="com.neuedu.controller"></context:component-scan>
     <!-- 视图资源解析器 -->
     <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/jsp/"></property>
        <property name="suffix" value=".jsp"></property>
     </bean>
     <!-- 静态资源访问  -->
     <mvc:annotation-driven></mvc:annotation-driven>
     <mvc:resources location="/static/" mapping="/static/**"/>
     <!-- 配置默认首页 -->
     <mvc:view-controller path="/" view-name="redirect:/go/index" />
     <!-- 文件上传 -->
     <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
           <property name="maxUploadSize" value="10000000"></property>
           <property name="defaultEncoding" value="UTF-8"></property>
     </bean>
     <!-- 拦截器 -->
<!--      <mvc:interceptors>
        <mvc:interceptor>
             <mvc:mapping path="/page/add" />
             <bean class="com.neuedu.interceptor.CheckInterceptor"></bean>
        </mvc:interceptor>
     </mvc:interceptors> -->
</beans>